body {
    height: 100vh !important;
    background-image: linear-gradient(rgba(0, 0, 0.5), rgba(0, 0, 0, 0.2)),
        url('https://images.unsplash.com/photo-1588585954086-ccdb0b57d266?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80') !important;
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.btn-primary,
.btn-primary:hover {
    background-color: #588157;
    border: 0px;
    text-shadow: none;
}

.btn-primary:hover {
    background-color: #a3b18a;
    color: black;
}

.cover-container {
    max-width: 80vw;
}

.nav-link {
    padding: 0.25 rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8) !important;
    margin-left: 1rem;
    border-bottom: 0.23rem solid transparent;
}

.nav-link.active {
    color: white !important;
    border-bottom-color: white;
}

.nav-link:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

/* below & including Mobile Large formats */
@media screen and (max-width: 426px) {
    .cover-container {
        max-width: 100vw;
    }

}

/* below & including Tablet formats */
@media screen and (max-width: 769px) {
    .nav-link.active {
        color: white !important;
        border-bottom: 0.23rem solid transparent !important;
    }
}